<div class="banner"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
 url('<%= cl_image_path @restaurant.photo.key, height: 300, crop: :fill %>')">
 <h1> <%= @restaurant.name %></h1>
</div>
<%= @restaurant.address %>

<h2> Menu </h2>
